[user]
	name = arch-raven
	email = adityabk80@gmail.com

[alias]
        sl = log --graph --pretty=format:'%C(yellow)%d%Creset %s %n%Cgreen(%cr) %C(bold blue)%Cred%h%Creset - <%an>%Creset%n' --abbrev-commit --date=relative --all
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
